[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger-ui = "*"
marshmallow-sqlalchemy = "*"
pyjwt = "==1.7.1"

[dev-packages]

[requires]
python_version = "3.8"
